.hero-img-container {
  background-image: url("../images/holiday-hero-sm.jpg");
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.description-input {
  justify-content: center;
  margin: auto;
}

.description-text {
  margin-top: -1rem;
}

.holiday-btn-submit {
  width: 100%;
  font-size: 2rem;
  height: 4rem;
}

.hero-img-container {
  height: 35vh;
}

.next-holiday {
  letter-spacing: 2px;
  line-height: 6rem;
}

.description-text {
  color: #222;
  font-size: 2.2rem;
  margin: auto;
}
