.hero-img-container {
  background-image: url("../images/hotels-hero.jpg");
  text-align: center;
}

.description-text {
  text-align: center;
}

.description-text p:nth-of-type(1) {
  border-bottom: 1px solid #222;
  display: inline-block;
}

.description-text a {
  display: block;
  color: #222;
  text-align: center;
  margin-top: 0.5rem;
}
